/* nav {
    background-color: #00ADEF;
    color: #fff;
    padding: 5px;
    position: relative;
    z-index: 2;
  } */
  /* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }

  .links{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
  }

  nav a {
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }
  nav a:hover {
    background-color: rgb(138, 183, 241);
  }
  
.logo{
   width: 50px;
} */


  